{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
	"mocha": true
  },
  "globals": {
	"$": true,
	"Modernizr": false,
	"fetch": false
  },
  "plugins": [
	"jsdoc",
	"require-jsdoc"
  ],
  "rules": {
	"brace-style": [
	  1,
	  "stroustrup",
	  {
		"allowSingleLine": true
	  }
	],
	"comma-dangle": 0,
	"indent": [
	  1,
	  "tab",
	  {
		"VariableDeclarator": {
		  "var": 1,
		  "let": 1,
		  "const": 2
		},
		"SwitchCase": 1
	  }
	],
	"no-mixed-spaces-and-tabs": [
	  1,
	  "smart-tabs"
	],
	"no-multi-spaces": [
	  1,
	  {
		"exceptions": {
		  "VariableDeclarator": true,
		  "Property": false
		}
	  }
	],
	"no-trailing-spaces": 1,
	"no-unused-vars": 1,
	"object-shorthand": [1, "always"],
	"one-var": 0,
	"prefer-const": 1,
	"space-before-function-paren": [1, {"anonymous": "always", "named": "never"} ],
	"space-in-parens": 1,
	"spaced-comment": [1, "always", { "exceptions": ["-+"], "markers": ["eslint-disable"] }],
	// JSDoc
	"require-jsdoc/require-jsdoc": 1,
	"jsdoc/check-param-names": 1,
	"jsdoc/check-tag-names": 1,
	"jsdoc/check-types": 1,
	"jsdoc/newline-after-description": 1,
	"jsdoc/require-description-complete-sentence": 1,
	"jsdoc/require-hyphen-before-description": 1,
	"jsdoc/require-param": 1,
	"jsdoc/require-param-type": 1,
	"jsdoc/require-returns-type": 1,
	// React
	"jsx-quotes": 1,
	"react/jsx-closing-bracket-location": [1, "after-props"],
	"react/jsx-indent-props": [1, "tab"],
	"react/jsx-key": 1,
	"react/jsx-max-props-per-line": [
	  1,
	  {
		"maximum": 4
	  }
	],
	"react/no-did-mount-set-state": 1,
	"react/no-did-update-set-state": 1,
	"react/jsx-no-duplicate-props": 1,
	"react/jsx-pascal-case": 1,
	"react/jsx-sort-prop-types": 1,
	"react/no-direct-mutation-state": 1,
	"react/prop-types": 2,
	"react/sort-comp": [
	  1,
	  {
		"order": [
		  "constructor",
		  "lifecycle",
		  "everything-else",
		  "render"
		],
		"groups": {
		  "lifecycle": [
			"statics",
			"contextTypes",
			"childContextTypes",
			"getChildContext",
			"propTypes",
			"defaultProps",
			"shouldComponentUpdate",
			"componentWillMount",
			"componentDidMount",
			"componentWillReceiveProps",
			"componentWillUpdate",
			"componentDidUpdate",
			"componentWillUnmount"
		  ]
		}
	  }
	]
  }
}
