.item {
  background: linear-gradient(125deg, $brand-primary, 70%, lighten($brand-primary, 6%));
  color: lighten($brand-primary, 25%);
  font-size: 3rem;
  margin-bottom: $grid-gutter-width;
  padding: 2.5rem;

  h3 {
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 0;
  }
}
