.item {
  background: linear-gradient(125deg, $brand-primary, 70%, lighten($brand-primary, 6%));
  color: lighten($brand-primary, 25%);
  font-size: 3rem;
  padding: 30px;

  h3 {
    margin-bottom: 5px;
    margin-top: 0;
  }
}
