.app__header {
  height: $header-height;
  padding: $grid-gutter-width 0;
  position: relative;

  &:before {
    background-image: linear-gradient(to right, lighten($brand-primary, 25), $brand-primary);
    bottom: 0;
    content: '';
    height: 0.5rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  h1 {
    color: $brand-primary;
    font-family: Bevan, serif;
    font-size: 4rem;
    margin: 0;
  }

  .menu {
    margin-top: $grid-gutter-width / 2;

    .navbar-nav {
      margin: 0;

      > li {
        display: inline-block;

        &.active a {
          color: $brand-primary;
          font-weight: bold;
        }

        > a {
          color: $body-color;
          padding: 0 1.5rem 0 0;

          &:hover,
          &:focus {
            background-color: transparent;
          }

          .fa {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
